services:
  backend:
    build:
      context: ..
      dockerfile: docker/backend/Dockerfile
      target: production
    env_file:
      - ./env/.env.prod
    restart: always
    networks:
      - rms_network
      - proxy
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`${BACKEND_DOMAIN}`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls=true"
      - "traefik.http.services.backend.loadbalancer.server.port=3000"

 
networks:
  rms_network:
    driver: bridge
  proxy:
    external: true
